.ribbon {
    background-color: #1c1c1c;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    right: -50px;
    top: 40px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ribbon a {
    color: #fff;
    display: block;
    font-size: 14px;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
}

.ribbon a > svg {
    margin-right: 10px;
}