.navRoot {
    width: 100vw;
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
}

.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 40px;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 16px;
}

.navTitle {
    font-size: 16px;
}

.navLinks a {
    padding: 8px 10px;
    background-color: transparent;
    transition: 0.2s all ease-in-out;
    border-radius: 5px;
}

.navLinks a:hover {
    background-color: #333;
    transition: 0.2s all ease-in-out;
}

.main {
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: #fff;
    min-height: 75vh;
    width: 100vw;
    top: 0;
    background: url(../public/background.webp);
    clip-path: ellipse(100% 100% at 50% 0%);
}

.main h1 {
    font-size: 40px;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .main {
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: none;
    }
}
