.button {
    background-color: #fff;
    color: #000;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 6px;
    margin: 5px 0;
    cursor: pointer;
    border: none;
    transition: 0.1s all ease-in-out;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.disabledButton {
    background-color: #858585;
    color: #000;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 6px;
    margin: 5px 0;
    cursor: pointer;
    border: none;
    transition: .1s all ease-in-out;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.buttonIcon > svg {
    color: #000;
    transition: 0.1s all ease-in-out;
}

.button:hover {
    transition: 0.1s all ease-in-out;
    background-color: #302f34;
    color: rgb(224, 224, 224);
    .buttonIcon > svg {
        color: #e0e0e0;
    }
}
