.button {
    background-color: #fff;
    color: #000;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 6px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

.button:hover {
    transition: 0.1s all ease-in-out;
    background-color: #302f34;
    color: rgb(224, 224, 224);
}
