.header {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../public/bg_video.gif);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0 20px;
}

.headerContent h1 {
    font-size: 1.5rem;
}

.headerContent p {
    font-size: .9rem;
}

.headerContent img {
    max-width: 128px;
    border-radius: 128px;
}

.socials {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socials > a {
    transition: .2s all ease-in-out;
}

.socials > a:hover {
    opacity: 50%;
}